@model IEnumerable<Software.DomainModels.GroupWork>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <button data-work-id="@item.Id" class="btn btn-default pull-left js-toggle-join">To be a member of this group</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
<script>
    $(document)
        .ready(function() {
            $(".js-toggle-join")
                .click(function (e) {
                    var button = $(e.target);                 
                    $.post("/api/assignments", { workid: button.attr("data-work-id") })
                        .done(function(
                        ) {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("--You are a member now!--");
                        })
                        .fail(function() {
                            alert("Something not right");
                        });
                });
          });
</script>
}