@model RegisterViewModel
@{
    ViewData["Title"] = "Manage your account";
}
<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <h4>My Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Nick Name</dt>
        <dd>@Model.NickName</dd>


        <dt>Email</dt>
        <dd>@Model.Email</dd>

    </dl>

    <form asp-controller="Account" asp-action="Delete" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <input asp-for="Email" class="hidden" />
        <input type="submit" value="Delete Account" />
     </form>
</div>
