@model RegisterViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>My Account</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Nick Name</dt>
        <dd>@Model.NickName</dd>


        <dt>Email</dt>
        <dd>@Model.Email</dd>

    </dl>
</div>

